body {
font-family:Arial;
font-size:20px;
}#table td {
color:#FFFFFF;
padding:25px 0px;
text-align:left;}

#isi td {
color:#cccccc;
font-family:Arial;
font-size:16px;
padding:0px 0px;
text-align:left;}
